[Desktop Entry]
Icon=text-html
Name=https://www.gnome-look.org/browse/cat/132/order/latest/
Type=Link
URL[$e]=https://www.gnome-look.org/browse/cat/132/order/latest/
