[Desktop Entry]
Icon=text-html
Name=https://colab.research.google.com/drive/1jqpvTFHhwhl4k96LozFKsYkbxLMrXEcw
Type=Link
URL[$e]=https://colab.research.google.com/drive/1jqpvTFHhwhl4k96LozFKsYkbxLMrXEcw
