[Desktop Entry]
Icon=text-html
Name=https://github.com/zaygraveyard/screenkey/branches
Type=Link
URL[$e]=https://github.com/zaygraveyard/screenkey/branches
