[Desktop Entry]
Icon=text-html
Name=https://marketplace.visualstudio.com/items?itemName=illixion.vscode-vibrancy-continued
Type=Link
URL[$e]=https://marketplace.visualstudio.com/items?itemName=illixion.vscode-vibrancy-continued
