[Desktop Entry]
Icon=text-html
Name=https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp&hl=ko&gl=US
Type=Link
URL[$e]=https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp&hl=ko&gl=US
