[Desktop Entry]
Icon=text-html
Name=https://play.google.com/store/apps/details?id=exa.lnx.a&hl=en&gl=US&pli=1
Type=Link
URL[$e]=https://play.google.com/store/apps/details?id=exa.lnx.a&hl=en&gl=US&pli=1
