[Desktop Entry]
Icon=text-html
Name=https://play.google.com/store/apps/details?id=ru.meefik.linuxdeploy
Type=Link
URL[$e]=https://play.google.com/store/apps/details?id=ru.meefik.linuxdeploy
