[Desktop Entry]
Icon=text-html
Name=https://play.google.com/store/apps/details?id=tech.ula
Type=Link
URL[$e]=https://play.google.com/store/apps/details?id=tech.ula
