[Desktop Entry]
Icon=text-html
Name=https://packages.debian.org/sid/all/qt5-style-kvantum-themes/download
Type=Link
URL[$e]=https://packages.debian.org/sid/all/qt5-style-kvantum-themes/download
